 body{
    padding: 0;
    margin: 0;
    font-family: 'Oswald' ;
    font-size: 20px;
    background-color: #0C1117;
    color: #FFFFFF;  
}
html{
    scroll-behavior: smooth;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
ul, li {
    display: block;
}
.container{
    width: 1680px;
    margin: 0 auto;
}
.header{
    background-color: black;
    padding-top: 10px;
}
.logo{
    width: 75px;
    height: 75px;
    margin-left: 137px;
    margin-right:  900px;
    margin-bottom: 5px;
}
.menu{
    display: flex;
    margin: 0;
}
.menu li a {
    width: auto;
    letter-spacing: 0.05em;
}
.menu li a:hover {
    color: #EA1C24;
}
.menu li {
margin-right: 46px;
}
.nav{
    display: flex;
    align-items: center;
}
.tel{
    margin-left: 40px ;
}
.about{
    margin-left: 148px;
    margin-right: 148px;
    margin-top: 100px;
}
.about h2 {
    font-size: 55px;
    text-align: center;
    color: #CFCFCF;
}
.about h1 {
    margin-top: 100px;
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom:100px
}
.about div .button {
     background-color: #EA1C24;
     padding:30px 80px;
     border-radius:25px;
     margin-left:40%;
} /*  Написать продавцу */
.about div .button:hover{
    color:#EA1C24;
    background-color: #FFFFFF;
}
.butt2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    padding-top: 17px;

    }
.services {
    font-size: 48px;
    display:flex;
    margin-left: 35%;
    margin-top: 150px;
}
.services1{
    color:#EA1C24 ;
    margin-right: 17px;
    text-align: center;  
}/* переход */
.pc1{
    margin-left:20px;
    width: 450px;
    height: 300px;
    margin-right: 57px;
}
 .tc{
    display: flex;
    margin-left: 50px;
    height: 300px;
    padding: 0;
    margin: 0;
    margin-top: 100px;
} 
.services0{
width: 1680px;
}
.tc1 {
    font-size: 36px;
    margin-left:37px;
}
ul li p {
    padding: 0;
    margin: 0;
    width: 450px;
    font-weight: 300;
    text-align: center;
    margin-right: 65px;

}
.services3 {
    font-size: 48px;
    display:flex;
    margin-left: 43%;
    margin-top: 1px;
    height: 50px;
}
.about1{
    background-color: black;
    height: 1150px;

}
.reviews{
    background-color: #171F29;
    margin-left: 148px;
    margin-right: 148px;
    margin-top: 100px;
    display:flex;
    margin-bottom:100px;
}
.reviewsT{
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    padding: 44px;
    text-align: center;   
}
.reviewsF{
    width: 350px;
    height: 250px;
    margin-top: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
}
.reviewsT1{
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    padding: 44px;
    text-align: center;
    /* margin-top: 35px; */
}
.button2{
    width: 270px;
    height: 75px;
    background-color: #EA1C24;
    border-radius: 25px;
margin-top: 100px;
margin-left: 42%;
}
.butto{
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding-top: 17px;
}
.but{
    background-color: #EA1C24;
    padding:20px 50px;
    margin-left:43%;
    padding:20px 40px;
    border-radius:25px;
    }
    .but:hover{
        color:#EA1C24;
    background-color: #FFFFFF;
}
    
.about2{
    margin-left: 13%;
    margin-top: 100px;
    margin-bottom: 70px;
}
.container2{
    width: auto;
}
.container3{
    font-size: 24px;
    width: 120px;
    height: auto;
    text-align:  center;
    margin-bottom: 20px;
}
.pc2{
    width: 100px;
height: 100px;
margin-bottom: 55px;
}
.inst{
    margin-left:-20px;
    margin-bottom: 100px;
}
.ul{
    padding-left: 45px;
    display: flex;
}
.li {
    margin-left: 165px;
}
.gm{
    font-size: 20px;
    margin-left: -34px;
}
.tel1{
    font-size: 17px;
}
.pl{
    font-size: 18px;
}
.vec,about1{
    display:none
}
@media screen and (max-width: 2560px) {
    .body{
        font-size:24px;
    }
    .logo{
        margin-left: 150px;
        margin-right: 58%;
    }
    .about div .button{
        margin-left: 44%;
    }
    .services{
        margin-left:39%;
    }
    .container{
        width: 1920px;
    }
}
@media screen and (max-width: 1600px) {
    body{
            font-size: 19px;
    }
    .about h2 {
    font-size: 50px;
    }

    .container{
        width: 1400px;
    }
    .logo{
        margin-left: 100px;
        margin-right: 700px;
    }
    .about{
        margin-left: 148px;
    }
    .about div .button{
        margin-left: 39%;
    }
    .services{
        margin-left: 31%;
    }
    .pc1{
        width: 365px;
        height: 270px;
    }
    .tc1{
        margin-left:20px;
        font-size: 30px;
        width: 360px;
    }
    .reviewsT{
        font-size: 22px;
    }
    .reviewsT1{
        font-size: 18px;
        padding-top:70px;
    }
    .reviewsF{
        width: 320px;
    height: 200px;
    }
    .about2{
        margin-left: 6%;
    }
    .about1{
        height: 1050px;
    }
    .li{
        margin-left:185px
    }
}
@media screen and (max-width: 1440px) {
    .container{
        width: 1200px;
    }
    .about h2 {
    font-size: 45px;
    }
    body{
            font-size: 18px;
    }
    .tc1 {
        font-size: 22px;
        width: 296px;
        margin-left:20px;
    }
    .about div .button {
     background-color: #EA1C24;
     padding:30px 60px;
     margin-left: 39%;
    }

    .logo {
        margin-left: 70px;
        margin-right: 500px;
    }
    .about{
        margin-left: 148px;  
    }
    .but {
        padding: 20px 50px;
        margin-left: 43%;
    }
    .services{
        margin-left: 28%;
    }
    .pc1 {
        width: 300px;
        height: 190px;
        margin-right: 70px;
    }
    .reviewsF{
        width:250px;
        height:180px
    }
    .about1{
        height: 970px;
    }
    .reviewsT{
        font-size: 17px;
    }
    .pc2{
        width:100px;
        height:100px;
    }
    .about2{
        margin-left: 8%;
    }
   .inst, .gm, .tel1, .pl{
       font-size:16px;
   }
   .inst{
       margin-left:-20px;
   }
   .gm{
       padding-left:7px;
   }
   .tel1{
       margin-left:-23px;
   }
   .li{
       margin-left:130px;
   }
}
@media screen and (max-width: 1024px) {
    body{
            font-size: 15px;
    }
    .about h2 {
    font-size: 40px;
    }
    .container{
        width: 1000px;
    }
    .logo{
        margin-left: 30px;
        margin-right: 280px;
        width: 60px;
        height: 60px;
    }
    .menu li a {
        font-size: 16px;
    }
    .about div h2{ 
        font-size: 36px;
    }
    .about div h1{
        font-size: 54px;
    }
    .about{
        margin-left: 148px;  
    }   
    .about div .button{
       padding: 20px 40px;
       margin-left: 37%;
    }
    .butt2{
        font-size: 24px;
    }
    .services{
        margin-left: 23%;
        font-size: 36px;
    }
    .pc1{
        width: 180px;
        height: 120px;
    }
    .about1{
        padding-bottom: 35px;
        height:920px
    }
    .tc1{
        font-size: 14px;
        width: 173px;
    }
    .about1{
        height: auto;
    }
    .reviewsT{
        font-size: 12px;
    }
    .reviewsT1{
        font-size: 13px;
    }
    .button2{
        width: 170px;
        height: 45px;
    }
    .butto{
        font-size: 12px;
    }
    .about2{
        margin-left: 25px;
    }
    .pc2{
        width: 60px;
        height: 60px;
    }
    .inst, .gm, .tel1, .pl{
        font-size: 13px;
    }
    .container3{
        margin-left: -30px;
    }
   .gm{
       padding-left: 30px; 
   }
    .reviewsF{
        width: 350px;
    height: 180px;
    }
    .li{
        margin-left: 110px;
    }
    .inst {
    margin-left: 0px;
    }s
    .tel1{
        margin-left:-3px;
    }
    .tc {
        margin-left: 40px;
    }
    .but {
        margin-left: 42%;
    }
}
@media screen and (max-width: 768px) {
    body{
        font-size: 14px;
    }
    .container{
        width: 752px;
        margin-left:8px;
    }
    .logo{
        margin-left: 30px;
    margin-right: 115px;
    width: 45px;
    height: 45px;
    }
    .menu li a{
        font-size: 12px;
    }
    .about div h2{
        font-size: 25px;
    }
    .about div h1{
        font-size: 45px;
        margin-top:60px;
        margin-bottom: 70px;
    }
    .about div .button{
        padding:15px 30px;
        margin-left: 32%;
    }
    .services{
        margin-left: 21%;
        font-size: 24px;
        margin-top: 100px;
    }
    .ad .about{
        margin:0px;
        height:375px;
    }
    .reviews{
        margin-left:0px;
        margin-right: 0px;
        margin-top: 60px;
    }
    .reviewsF{
        width: 300px;
        height:150px;
    }
    .services3{
        font-size: 24px;
    }
    .pc1{
        margin-right:65px;
    }
    .li{
        height:100px;
    }
    .but{
        padding:18px 40px;
        margin-left:39%;
    }
    .about1{
        padding-bottom:50px;
    }
    .about2{
        margin-left: -100px;
        margin-bottom: 140px;
        margin-top: 60px;
    }
    .pc2 {
        width:55px;
        height:55px;
        margin-bottom:30px;
    }
    .tc1 {
        width: 188px;
    }
    .tc{
        margin-left:30px;
    }

}
@media screen and (max-width: 425px) {
    body{
        font-size: 14px;
    }
    .menu, .about1{
        display:none;
    }
    .container{
        width: auto;
        margin-left:8px;
    }
    .about{
        margin: 0;
    }
    .about .services0{
        margin-left: 4%;
        width: 0;
    }
    .logo{
        margin-left: 30px;
    margin-right: 115px;
    width: 45px;
    height: 45px;
    }
    .menu li a{
        font-size: 12px;
    }
    .about div h2{
        margin-top:45px;
        font-size: 20px;
        margin: 45px 8px 0 8px;
    }
    .about div h1{
        font-size: 45px;
        margin-top:60px;
        margin-bottom: 70px;
    }
    .about div .button{
        padding:15px 30px;
        margin-left: 32%;
    }
    .services{
        margin-left: 27%;
        font-size: 18px;
        margin-top: 75px;
    }
    .services1{
       margin-right:10px;
    }
    .ad .about{
        margin:0px;
        height:375px;
    }
    .reviews{
        margin-left:0px;
        margin-right: 0px;
        margin-top: 60px;
    }
    .reviewsF{
        width: 300px;
        height:150px;
    }
    .services3{
        font-size: 24px;
    }
    .pc1{
        margin-right:65px;
        margin-bottom: 20px;
    }
    .li {
        height: 50px;
        margin-left: 25px;
    }
    .but{
        padding:15px 20px;
        display:block;
        width: 80px;
        font-size: 11px;
        margin-left:38%;
    }
    .about1{
        padding-bottom:50px;
    }
    .about2{
        margin-left: -100px;
        margin-bottom: 140px;
        margin-top: 60px;
    }
    .pc2 {
        width:40px;
        height:40px;
        margin-bottom:30px;
    }
    .tc1{
        width: 183px;
    }
    .ad{
        display:none
    }
    .li1{
        margin-bottom: 45px;
    }
    .li2 {
        margin-left: 210px;
        margin-bottom: 45px;
    }
    .inst, .gm, .tel1, .pl{
        font-size: 10px;
    }
    .ul{
        margin-left: 60px;
    }
    .container3{
        margin-left:-40px;
    }
    .vector{
        height: 200px;
        width: 100%;
        
    }
    .vec{
        margin: 0;
        padding: 0;
    }
    .vec ul{
        padding: 0;
    }
    .vec, about1 {
        display: block;
    }
    .vec1 {
        color: #FFFFFF;
    }

    @media screen and (max-width: 375px) {
        body {
            font-size: 12px;
        }
        .logo{
            width:40px;
            height:40px;
        }
        .about div .button {
            margin-left: 32%;
        }
        .about div h1 {
            margin-left:22px;
        }
        .li2 {
            margin-left:165px;
        }
        .tc1{
            font-size:12px; 
        }
        .services1 {
            font-size:18px; 
        }
        ul li p {
            width: 397px;
        }
        .but, .vector {
            margin-bottom:30px;
             margin-top: 15px;
        }
        .about2{
            display:none;
        }
        ul li p {
            width:380px;
        }
        .but {
            margin-left:34%;
        }
        @media screen and (max-width: 320px) {
            .logo{
                width:35px;
                height:35px;
            }
            .about div .button {
                margin-left:31%;
            }
            .services {
                margin-left:21%;
            }
            .vec .about {
                margin-left:61px;

            }
            .li2 {
                margin-left:0px;
            }
            .container{
                width:0px;
            }
            ul li p {
                width: 65px;
                margin-left:40%;
            }
            .but {
                margin-left:32%;
            }
        
        }
    }
}